*, *::after, *::before {
    margin: 0;
    box-sizing: border-box;
}

html, body {width: auto; overflow-x: hidden !important;} 

body {
    font-family: "Inter", sans-serif;
    font-size: .9rem;
}

.row {
    display: flex;
}
.hidden {
    display: none;
}

.visible {
    display: block;
}
.btn {
    border: 5px solid #43275E;
    cursor: pointer;
    padding: .8rem 1.2rem;
    text-decoration: none;
    color: #000;
    display: flex;
    gap: .3rem;
    align-items: center;
    box-shadow: 3px 3px 0 1px #E3D7EF;

}
.btn:hover, .btn:active {
    background-color: #43275E;
    color: #ffff;
}


.around {
    justify-content: space-around;
    align-items: center;  
}
.btwn {
    justify-content: space-between;
    align-items: center;
}

.logo-text-container {
    justify-content: center;
    margin-left: .5rem;
}
.col {
    display: flex;
    flex-direction: column;
}
.content-container {
    border: 6px solid #58337B;
    overflow-y: auto; 
    height: 100vh;
}

.padding-container {
    padding: 1rem 5rem 0rem 5rem;
}
.img-hero {
    height: 98.3vh;
}

.img-container {
    background-size: cover;
    border-top: 6px solid #58337B;
    width: max-content;
    border-left: 6px solid #58337B;
    border-bottom: 6px solid #58337B;
    height: 100vh;
}

.logo-img {
    height: 72px;
    width: 72px;

}

.heroHead {
    font-size: 3.2rem;
    font-weight: 600;
}

.gap-y-5 {
    margin-top: 8px;
}
.heroText {
    font-weight: 300;
}
.mainHead {
    font-size: 2rem;
    font-weight: 600;
}

.listHead {
    font-size: 1.2rem;
    font-weight: 500;
}
li {
    font-weight: 300;
}
.logo-text {
    font-family: "Limelight", sans-serif;;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2.5rem;
    color: #58337B;
}

.logo-subtext {
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.2px;


}
.w-25 {
    width: 23%;
}
.m-3 {
    margin-top: 1rem;
    margin-bottom: 20px;
}
.language-container {
    display: flex;
    text-align: center;
    background-color: F0E9F6;
    padding-top: 1rem;
    padding-bottom: 3rem;
    border-top: 6px solid #58337B;
    border-bottom: 6px solid #58337B;
}

.icon {
    font-size: 5rem;
}

.wrap {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}
.heroText-container {
    display: flex;
    flex-direction: column;
}
.hero-container {
    margin-top: 1rem;
    margin-bottom: 1rem;
    align-items: center;
}

.heroHead {
    font-size: 3.5rem;
    font-weight: 600;
}

.heroText {
    margin-top: .4rem;
    font-weight: 200;
}

.grid {
    display: grid;
    grid-template-rows: 2fr 1fr;
}
.g-y-5 {
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.btn-white {
    padding: 1rem 4rem;
    border: 3px solid #fff;
    color: white;
    display: flex;
    justify-content: space-between;
}

.btn-white:hover, .btn-white:active {
    color: #000;
    background-color: #fff;

}



header {
    padding: 1.2rem 3rem;
}
