*, *::after, *::before, html {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "DM Sans", sans-serif;
}
.row {
    display: flex;
}

.btn {
    border: 4px solid #ff6600;
    cursor: pointer;
    padding: .7rem 2rem;
    text-decoration: none;
    color: #000;
    align-items: center;

}
.btn:hover, .btn:active {
    background-color:  #ff6600;
    color: #ffff;
}

.hidden {
    display: none;
}
.visible {
    display: block;
}
.align-center {
    align-self: center;
}
.g-6 {
    gap: 6px;
}
.g-8 {
    gap: 8px;
}
.mr-5 {
    margin-right: 2rem;
}
.around {
    justify-content: space-around;
    align-items: center;  
}
.btwn {
    justify-content: space-between;
    align-items: center;
}

.col {
    display: flex;
    flex-direction: column;
}
.content-container {
    border-top: 3px solid #ff6600;
}

.padding-container {
    padding: 1rem 5rem 0rem 5rem;
}

.img-container {
    background-size: cover;
    height: 100vh;
}
.logo-img {
    height: 8rem;
}

.heroHead {
    font-size: 3.2rem;
    font-weight: 600;
}

.gap-y-5 {
    margin-top: 8px;
}
.heroText {
    font-weight: 300;
}
.mainHead {
    font-size: 2rem;
    font-weight: 600;
}

.listHead {
    font-size: 1.2rem;
    font-weight: 500;
}
li {
    font-weight: 300;
}
.logo-text {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 1.5rem;
}

.logo-subtext {
    font-weight: 300;
    font-size: 1rem;

}
.w-25 {
    width: 23%;
}
.m-3 {
    margin-top: 1rem;
    margin-bottom: 20px;
}
.language-container {
    background-color: #333333;
    padding-bottom: 3rem;
    color: #fff;
}